/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/01/2016, 08:50:22 PM
    Author     : Usuario
*/
/* comentaro*/


#index
{
  background-color: #01A9DB;
  height: 110%;
  position: absolute;
  width: 100%;
}

