#indice 
{
  background-color: #01A9DB;
  height: 110%;
  position: absolute;
  top: 20%;
  width: 28%;
}

#contenido 
{
  background-color: #DF7401;
  height:110%;
  left:30%;
  overflow: hidden;
  position: absolute;
  top: 20%;
  width: 70%;